body {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

h2 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/*HEADER*/

.main-navigation {
  min-height: 56px;
  padding: 0 6%;
}

.main-navigation ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1056px;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-navigation li {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 0;
  padding-right: 0;
}


.main-navigation li:nth-child(2) {
  margin-right: -28px;
}

.main-navigation li:nth-child(3) {
  margin-top: -16px;
  margin-bottom: -40px;
}

.main-navigation a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active,
.main-navigation .link-active {
  color: #766357;
}

.main-navigation .link-active:hover {
  color: #604e43;
}

.main-navigation .link-active:active {
  color: #d6d0cc;
}

/*MAIN*/

.title-img {
  padding-top: 77px;
  padding-bottom: 70px;
  text-align: center;
  background: url("../img/index-mask-image.png") 0 100% no-repeat, url("../img/index-image.jpg") 0 22% no-repeat #daeaf3;
}

.description {
  padding-top: 62px;
  padding-bottom: 35px;
  line-height: 26px;
  text-align: center;
}

.description h2 {
  font-size: 21px;
  font-weight: bold;
  margin-left: 294px;
  margin-right: 294px;
  margin-bottom: 27px;
}

    /* resons with image */

.reasons-title {
  font-size: 21px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 23px;
  margin-left: 128px;
  margin-right: 128px;
  width: 152px;
}

.reasons-item {
  width: 400px;
  text-align: center;
  background-color: #81b3d2;
  max-height: 256px;
  color: #ffffff;
}

.reasons-item p {
  display: block;
  margin-top: 28px;
  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 41px;
}

.reasons-with-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 256px;
}

.reasons-item .reasons-title {
  margin-top: 54px;
  margin-bottom: 22px;
}

.reasons-title .reasons-num {
  display: inline-block;
  vertical-align: top;
}

    /* reasons without image */

.reasons-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.reasons-description {
  font-size: 0;
  background-color: #eeeeee;
}

.reasons {
  background-color: #eeeeee;
  font-size: 14px;
  color: #000000;
  display: inline-block;
  width: 400px;
  vertical-align: top;
  text-align: center;
}

.reasons .reasons-num {
  position: relative;
  margin: 0;
  background-color: #eeeeee;
}

.reasons p {
  margin: 0;
  margin-top: 23px;
  margin-left: 58px;
  margin-right: 58px;
  margin-bottom: 54px;
}

    /* resons withou num */

.without-num {
  background-color: #ffffff;
  position: relative;
}

.without-num .reasons-title {
  margin-top: 163px;
  margin-bottom: 24px;
}

.without-num:nth-child(1)::before {
  content: "";
  position: absolute;
  left: 162px;
  top: 60px;
  background: url("../img/sprite.png") no-repeat;
  width: 75px;
  height: 72px;
  background-position: -409px -10px;
}

.without-num:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 162px;
  top: 60px;
  background: url("../img/sprite.png") no-repeat;
  width: 74px;
  height: 70px;
  background-position: -749px -10px;
}

.without-num:nth-child(3)::before {
  content: "";
  position: absolute;
  left: 165px;
  top: 60px;
  background: url("../img/sprite.png") no-repeat;
  width: 64px;
  height: 76px;
  background-position: -843px -10px;
}

.without-num p {
  padding: 0;
  margin: 0;
  margin-left: 47px;
  margin-right: 47px;
  margin-bottom: 83px;
}

/* SEARCH */

.search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  position: relative;
  z-index: 11;
}

.search b, .search p, .search a {
  margin: 0 auto;
}
.search b {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  padding-top: 58px;
  padding-bottom: 30px;
  text-align: center;
}

.search p {
  line-height: 24px;
  text-align: center;
  margin-bottom: 51px;
}

.btn {
  display: inline-block;
  padding: 8px 17px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81b3d2;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #669ec0;
}

.btn:active{
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.open-search {
  display: inline-block;
  vertical-align: top;
  margin-top: 45px;
  padding: 30px 139px;
  font-size: 21px;
  line-height: 26px;
  background-color: #766357;
  z-index: 5;
}

.open-search:hover {
  background-color: #604e43;
}

.open-search:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.map {
  width: 1200px;
  height: 595px;
  border: 0;
  background: #d9c9bf url("../img/map.jpg") no-repeat;
  position: relative;
}

.google-map {
  width: 1200px;
  height: 595px;
  border: 0;
}

/* SEARCH FORM */

.search-form {
  padding: 0;
  width: 458px;
  position: absolute;
  left: 50%;
  background-color: #ffffff;
  padding: 55px;
  margin-left: -284px;
  box-shadow: 0 1px 15px 2px #dfdfdf;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  z-index: 1;
  display: none;
}


/* Анимация формы поиска */

@-webkit-keyframes downhill{
  0%{
    -webkit-transform: translateY(-280px);
            transform: translateY(-280px);
  }
  100%{
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes downhill{
  0%{
    -webkit-transform: translateY(-280px);
            transform: translateY(-280px);
  }
  100%{
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.modal-content-show {
  display: block;
  animation: downhill 700ms;
}

/*--------------------------------------------*/

.date {
  position: relative;
  font-size: 14px;
}

.qty {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 0;
}

.search-form label {
  margin-right: 18px;
  font-size: 14px;
}

label[for="adults-qty"] {
  margin-right: 38px;
}

label[for="kids-qty"] {
  margin-right: 26px;
  margin-left: 50px;
}

.search-form input {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  margin-bottom: 29px;
  background-color: #f2f2f2;
  outline: none;
  border: none;
  padding: 6px 13px;
  min-height: 26px;
}

.date .input-date {
  width: 319px;
}

.date .input-date[name="departure-date"] {
  margin-left: -3px;
}

.qty-field {
  display: inline-block;
}

.qty .input-qty {
  width: 20px;
  padding-left: 47px;
  padding-right: 47px;
  text-align: center;
}

.icon-minus {
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  background-position: -915px 8px;
  cursor: pointer;
  left: 110px;
  top: 0;
  background-color: #f2f2f2;
}

.icon-minus-kids {
  left: 114px;
}

.icon-minus:hover {
  background-position: -979px 8px;
}

.icon-minus:active {
  background-position: -947px 8px;
}

.icon-plus {
  position: absolute;
  left: 186px;
  top: 0;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  background-position: -1010px 4px;
  cursor: pointer;
  background-color: #f2f2f2;
}

.icon-plus-kids {
  left: 191px;
}

.icon-plus:hover {
  background-position: -1072px 4px;
}

.icon-plus:active {
  background-position: -1041px 4px;
}


.icon-calendar {
  position: relative;
  cursor: pointer;
}

.icon-calendar::before {
  content: "";
  position: absolute;
  left: 425px;
  top: -60px;
  background-image: url("../img/sprite.png") ;
  background-repeat: no-repeat;
  width: 21px;
  height: 22px;
  background-position: -504px -10px;
}

.icon-calendar:hover::before{
  width: 22px;
  height: 22px;
  background-position: -586px -10px;
}

.icon-calendar:active::before {
  width: 21px;
  height: 22px;
  background-position: -545px -10px;
}


.btn-search {
  margin-top: 25px;
  padding: 17px 196px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.btn-search:down {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}


/* FOOTER */

.main-footer {
  z-index: 100;
  width: 1200px;
  min-height: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.transp-footer {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-tag {
  width: 180px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-copyright span {
  margin-left: 10px;
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 26px;
}

.academy {
  font-size: 0;
}

.academy::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  position:relative;
  top: -5px;
  left: 5px;
  background: url("../img/sprite.png") no-repeat;
  width: 113px;
  height: 39px;
  background-position: -10px -10px;
}

.academy:hover.academy::before {
  width: 113px;
  height: 39px;
  background-position: -276px -10px;
}

.academy:active.academy::before {
  width: 113px;
  height: 39px;
  background-position: -143px -10px;
}

.footer-social {
  margin-left: 20px;
}

.social-btn {
  display: inline-block;
  font-size: 0;
  width: 46px;
  height: 48px;
  margin: 0;
  vertical-align: top;
  background-color: #81b3d2;
  position: relative;
  margin-right: 3px;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active.social-btn::before {
  opacity: 0.3;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../img/sprite.png") no-repeat;
}

.social-btn-tw::before {
  width: 17px;
  height: 15px;
  background-position: -1116px -10px;
}

.social-btn-fb::before {
  width: 10px;
  height: 19px;
  background-position: -719px -10px;
}

.social-btn-yt::before {
  width: 20px;
  height: 16px;
  background-position: -1153px -10px;
}

.footer-copyright {
  margin-top: 8px;
}

/*-------------------HOTELS.HTML----------------------------*/



/* FILTER */

.hotels-container {
  width: 1056px;
  margin: 0 auto;
}

.filter {
  padding: 24px 0;
  background: #9fb9d3 url("../img/bg-filter.jpg") no-repeat 0 -50px;
}

.filter form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter-item {
  display: inline-block;
  margin-right: 115px;
  color: #ffffff;
}

.filter-title {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 40px;
}

.filter-content {
  position: relative;
  line-height: 0;
  margin-bottom: 48px;
  padding-left: 40px;
  cursor: pointer;
}

.filter-content .chbx {
  position: relative;
  cursor: pointer;
}

.filter-content:last-child {
  margin-bottom: 11px;
}

.hotels-filter input[type="checkbox"] {
  display: none;
}

.hotels-filter input[type="checkbox"] + .chbx::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -3px;
  width: 17px;
  height: 16px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.hotels-filter input[type="checkbox"]:checked + .chbx::before {
  content: "";
  border: none;
  position: absolute;
  left: -43px;
  top: -4px;
  background: url("../img/sprite.png") no-repeat;
  width: 26px;
  height: 22px;
  background-position: -627px -10px;
  cursor: pointer;
}

.hotels-filter input[type="checkbox"]:disabled + .chbx::before {
  border: 2px solid #6a6a6a;
  cursor: auto;
}

.hotels-filter input[type="checkbox"]:checked:disabled + .chbx::before {
  border: none;
  background: url("../img/sprite.png") no-repeat;
  width: 26px;
  height: 22px;
  background-position: -673px -10px;
  cursor: auto;
}

.prices-filter {
  width: 328px;
  text-transform: uppercase;
  color: #ffffff;
}

.prices-title {
  margin-bottom: 11px;
  text-align: left;
}

.prices-controls {
  height: 36px;
  margin-bottom: 20px;
  margin-left: 10px;
  width: 314px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
  position: relative;
}

.prices-controls label {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  font-size: 14px;
  line-height: 21px;
}

.prices-controls .min-price, .prices-controls .max-price {
  width: 90px;
  padding-top: 7px;
  padding-left: 65px;
}

.prices-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.prices-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2px;
  height: 22px;
  background: #ffffff;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  margin-left: 10px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  left: 10px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 10px;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

/* SORTING */

.sorting {
  border-bottom: 1px solid #e5e5e5;
}

.sort-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1056px;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #ffffff;
}

.result {
  min-width: 130px;
  max-width: 164px;
  width: 164px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 0;
}

.sorting-type {
  width: 870px;
  margin-top: 5px;
}

.sorting-type b {
  font-size: 12px;
  line-height: 18px;
  margin-right: 39px;
}

.sorting-type a {
  font-size: 12px;
  line-height: 18px;
  margin-right: 27px;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-type a:hover {
  color: #81b3d2;
}

.sorting-type a:active {
  color: #000000;
  border: none;
}

.sorting-type .sort-active {
  color: #81b3d2;
  border: none;
}

.sorting-type .sort-active:hover {
  color: #81b3d2;
}

.sorting-type .sort-active:active {
  color: #81b3d2;
}

.icon-sort {
  position: relative;
  width: 36px;
  margin-top: 5px;
  background-color: #ffffff;
}

.icon-sort a {
  text-decoration: none;
  font-size: 0;
}

.up {
  position: absolute;
  top: 5px;
  left: 2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #cccccc transparent;
}

.down {
  position: absolute;
  top: 5px;
  left: 25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #cccccc transparent transparent transparent;
}

.up:hover {
  border-color: transparent transparent #000000 transparent;
}

.down:hover {
  border-color: #000000 transparent transparent transparent;
}

.up:active {
  border-color: transparent transparent #81b3d2 transparent;
}

.down:active {
  border-color: #81b3d2 transparent transparent transparent;
}

.up.arrow-active, .up.arrow-active:hover {
  border-color: transparent transparent #81b3d2 transparent;
}

.down.arrow-active, .down.arrow-active:hover {
  border-color: #81b3d2 transparent transparent transparent;
}

/* HOTELS-ITEM */

.hotels-item {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hotels-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.hotels-img {
  width: 135px;
  height: 90px;
  background-color: #fec7dc;
}

.hotels-details{
   max-width: 780px;
   margin-left: 27px;
   font-size: 0;
}

.hotels-details h2 {
  margin-top: -8px;
  margin-bottom: 7px;
}

.text-hotel, .text-price {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 16px;
}

.hotels-about {
  display: inline-block;
  vertical-align: top;
  max-width: 110px;
  margin-right: 6px;
  font-size: 14px;
}

.hotels-reserve {
  display: inline-block;
  vertical-align: top;
  max-width: 141px;
  font-size: 14px;
}

.btn-details, .btn-reserve {
  padding: 2px 17px;
}

.btn-reserve {
  background-color: #766357;
}

.btn-reserve:hover {
  background-color: #604e43;
}

.btn-reserve:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.stars {
  margin-top: -5px;
  margin-bottom: 45px;
  text-align: right;
  font-size: 21px;
  color: #81b3d2;
}

.rating-value {
  padding: 4px 10px;
  color: #666666;
  background-color: #f2f2f2;
}


/* SPRITE */

.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-academy {
    width: 113px;
    height: 39px;
    background-position: -10px -10px;
}

.sprite-academy-down {
    width: 113px;
    height: 39px;
    background-position: -143px -10px;
}

.sprite-academy-hvr {
    width: 113px;
    height: 39px;
    background-position: -276px -10px;
}

.sprite-icon-accomodation {
    width: 75px;
    height: 72px;
    background-position: -409px -10px;
}

.sprite-icon-calendar {
    width: 21px;
    height: 22px;
    background-position: -504px -10px;
}

.sprite-icon-calendar-down {
    width: 21px;
    height: 22px;
    background-position: -545px -10px;
}

.sprite-icon-calendar-hvr {
    width: 21px;
    height: 22px;
    background-position: -586px -10px;
}

.sprite-icon-chbx {
    width: 26px;
    height: 22px;
    background-position: -627px -10px;
}

.sprite-icon-chbx-disabled {
    width: 26px;
    height: 22px;
    background-position: -673px -10px;
}

.sprite-icon-fb {
    width: 10px;
    height: 19px;
    background-position: -719px -10px;
}

.sprite-icon-food {
    width: 74px;
    height: 70px;
    background-position: -749px -10px;
}

.sprite-icon-gifts {
    width: 64px;
    height: 76px;
    background-position: -843px -10px;
}

.sprite-icon-minus {
    width: 12px;
    height: 3px;
    background-position: -927px -10px;
}

.sprite-icon-minus-down {
    width: 12px;
    height: 3px;
    background-position: -959px -10px;
}

.sprite-icon-minus-hvr {
    width: 12px;
    height: 3px;
    background-position: -991px -10px;
}

.sprite-icon-plus {
    width: 11px;
    height: 11px;
    background-position: -1023px -10px;
}

.sprite-icon-plus-down {
    width: 11px;
    height: 11px;
    background-position: -1054px -10px;
}

.sprite-icon-plus-hvr {
    width: 11px;
    height: 11px;
    background-position: -1085px -10px;
}

.sprite-icon-tw {
    width: 17px;
    height: 15px;
    background-position: -1116px -10px;
}

.sprite-icon-yt {
    width: 20px;
    height: 16px;
    background-position: -1153px -10px;
}
